StepFunctions/statemachine.json
{
  "StartAt": "TranscribeAudio",
  "States": {
    "TranscribeAudio": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-west-1:282950570465:function:comprehendcalls-transcribeaudio",
      "Parameters": {
        "bucket_name.$": "$.bucket_name",
        "file_key.$": "$.file_key"
      },
      "Next": "ComprehendText"
    },
    "ComprehendText": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:eu-west-1:282950570465:function:comprehendcalls-comprehend",
      "Parameters": {
        "transcribeUri.$": "$.transcribeUri"
      },
      "Next": "StoreResults"
    },
    "StoreResults": {
      "Type": "Parallel",
      "End": true,
      "Branches": [
        {
          "StartAt": "ResultsDynamo",
          "States": {
            "ResultsDynamo": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:eu-west-1:282950570465:function:comprehendcalls-dynamo",
              "Parameters": {
                "comprehendResults_ddb.$": "$.comprehendResults_ddb"
              },
              "End": true
            }
          }
        },
        {
          "StartAt": "ResultsS3",
          "States": {
            "ResultsS3": {
              "Type": "Task",
              "Resource": "arn:aws:lambda:eu-west-1:282950570465:function:comprehendcalls-s3-results",
              "Parameters": {
                "comprehendResults_s3.$": "$.comprehendResults_s3",
                "transcriptionid.$": "$.transcriptionid"
              },
              "End": true
            }
          }
        }
      ]
    }
  }
}
